/* Styles pour l'impression */
@media print {
    @page {
        size: A4;
        margin: 0.4cm;
    }

    html,
    body {
        width: 210mm;
        height: 297mm;
        font-size: 0.875rem;
        background: white;
        color: black;
    }

    .container {
        width: 100%;
        max-width: none;
        padding: 0;
        margin: 0;
    }

    .theme-toggle,
    .print-button {
        display: none;
    }

    header {
        padding: 8px 0;
        margin-bottom: 8px;
        border: none;
        background-color: white;
    }

    .cv-section {
        border: none;
        padding: 6px 0;
        margin-bottom: 6px;
        page-break-inside: avoid;
    }

    .avatar-container {
        width: 70px;
        height: 70px;
        border: 0px;
        background-color: black;
    }

    .header-text h1 {
        font-size: 1.5rem;
    }

    .job-title {
        font-size: 1rem;
    }

    .cv-section h2 {
        font-size: 14pt;
        margin-bottom: 6px;
    }

    .cv-section h3 {
        font-size: 1rem;
    }

    .skill-bar-container {
        height: 6px;
        background-color: #e0e0e0 !important;
        border-radius: 2px;
        overflow: hidden;
        print-color-adjust: exact; /* Chrome */
        -webkit-print-color-adjust: exact; /* Safari */
    }

    .skill-bar {
        background-color: #2c5282 !important;
        transition: none !important;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    footer {
        margin-top: 0px;
        padding: 0px;
    }
}
